input{
  outline: none !important;
}
body {
  background-image: url(../images/cover.jpg); 
  background-size: cover; 
}
:root{
  --main_color:#162938;
  --second_color:#c4d9ea;
}
.navbar {
  background-color:transparent !important;
}
.navbar-toggler{
  border: 0 !important;
  background-color: var(--second_color);
}
.nav-item {
  overflow: hidden;
}
#btn-login-nav{
  color: var(--second_color);
  border:1px solid var(--second_color);
}
#btn-login-nav:hover{
  background-color:var(--second_color) !important;
  color: var(--main_color);
}
.offcanvas{
  width:23% !important;
  background-color: #16293873 !important;
  backdrop-filter:blur(20px);  
}
.btn-close{
  --bs-btn-close-color: #fff !important;
  background-color: #c4d9ea;
  font-size:0.8rem !important;
  padding: 0.5rem !important;
  border-radius: 50%;
}
.Line{
  background-color: #a0beb5a8;
  width:4rem;
  height:1px;
  margin-left:-4rem;
  transition: all 0.5s;
}
.nav-item:hover .Line {
  margin-left: 0rem;
  border: 0 !important;
}
.navbar-toggler-icon{
  padding:1rem !important;
  font-size: 0.1rem !important;
  color: rgb(137, 165, 189) !important;
}
.form-wrapper{
 display: none;
}
.form-wrapper{
    background:transparent;
    width:27rem;
    height:28rem;
    border-radius:1.5rem;
    backdrop-filter:blur(20px);
    border:2px solid rgba(255, 255, 255 ,.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.form-sign-up-btn ,.form-login-btn{
  top:0;
  width:100%;
  left:-30rem;
}
.form-login-btn{
  left: 0;
}
#icon-close{
  top:0;
  right:0;
  background-color: var(--main_color);
  border-bottom-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  color: azure;
  padding:0.6rem !important;
}
.input-group input{
  background-color: transparent;
  width:80%;
  outline: none;
  border: 0;
  border-bottom:3px solid var(--main_color);
}
.input-group label{
  left:3rem;
  top:0;
  color: var(--main_color);
}
.input-group input:focus~label ,
.input-group input:valid~label{
 top:-1.5rem;
}
.btn-login{
  background-color: var(--main_color);
  width:80%;
  color: azure;
}
.checkbox{
  accent-color: var(--main_color);
}
.signUpBtn-link ,.signInBtn-link{
  text-decoration: none;
  color: var(--main_color);
  font-weight: 700;
}
@media screen and (max-width:500px){
.offcanvas{
  width: 45% !important;
}
.form-wrapper{
width: 23rem;
}
}
@media screen and (min-width:500px) and (max-width:900px) {
.offcanvas{
  width: 40% !important;
}
}